In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/Demographics_of_Turkey'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [3]:
soup.find('table', class_ = 'wikitable sortable')

<table class="wikitable sortable" style="text-align:right">
<tbody><tr>
<th>
</th>
<th style="width:80pt;">Population (31.12.)
</th>
<th style="width:80pt;">Live births
</th>
<th style="width:80pt;">Deaths
</th>
<th style="width:80pt;">Natural change
</th>
<th style="width:80pt;">Crude birth rate (per 1000)
</th>
<th style="width:80pt;">Crude death (per 1000)
</th>
<th style="width:80pt;">Natural increase (per 1000)
</th>
<th style="width:80pt;">Total fertility rate (TFR)
</th></tr>
<tr>
<td>1990
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,392,000
</td>
<td style="text-align:right;">388,000
</td>
<td style="text-align:right;">1,004,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">3.11
</td></tr>
<tr>
<td>1991
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,390,000
</td>
<td style="text-align:right;">391,000
</td>
<td style="text-align:right;">999,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">3.02
</td></tr>
<tr>
<td>1992
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,388,000
</td>
<td style="text-align:right;">394,000
</td>
<td style="text-align:right;">994,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.94
</td></tr>
<tr>
<td>1993
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,385,000
</td>
<td style="text-align:right;">396,000
</td>
<td style="text-align:right;">989,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.87
</td></tr>
<tr>
<td>1994
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,372,000
</td>
<td style="text-align:right;">399,000
</td>
<td style="text-align:right;">973,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.81
</td></tr>
<tr>
<td>1995
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,368,000
</td>
<td style="text-align:right;">402,000
</td>
<td style="text-align:right;">966,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.76
</td></tr>
<tr>
<td>1996
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,386,000
</td>
<td style="text-align:right;">419,000
</td>
<td style="text-align:right;">967,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.70
</td></tr>
<tr>
<td>1997
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,317,000
</td>
<td style="text-align:right;">424,000
</td>
<td style="text-align:right;">893,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.66
</td></tr>
<tr>
<td>1998
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,318,000
</td>
<td style="text-align:right;">426,000
</td>
<td style="text-align:right;">892,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.61
</td></tr>
<tr>
<td>1999
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,313,000
</td>
<td style="text-align:right;">427,000
</td>
<td style="text-align:right;">886,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.56
</td></tr>
<tr>
<td>2000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,307,000
</td>
<td style="text-align:right;">422,000
</td>
<td style="text-align:right;">885,000
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.50
</td></tr>
<tr>
<td>2001
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,323,341
</td>
<td style="color:blue">175,137
</td>
<td style="color:blue">1,148,204
</td>
<td style="text-align:right;">20.3
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.38
</td></tr>
<tr>
<td>2002
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,229,555
</td>
<td style="text-align:right;">175,434
</td>
<td style="text-align:right;">1,054,121
</td>
<td style="text-align:right;">18.6
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.40
</td></tr>
<tr>
<td>2003
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,198,927
</td>
<td style="text-align:right;">184,330
</td>
<td style="text-align:right;">1,014,597
</td>
<td style="text-align:right;">17.9
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.35
</td></tr>
<tr>
<td>2004
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,222,484
</td>
<td style="text-align:right;">187,086
</td>
<td style="text-align:right;">1,035,398
</td>
<td style="text-align:right;">18.1
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.31
</td></tr>
<tr>
<td>2005
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,244,041
</td>
<td style="text-align:right;">197,520
</td>
<td style="text-align:right;">1,046,521
</td>
<td style="text-align:right;">18.2
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.27
</td></tr>
<tr>
<td>2006
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">1,255,432
</td>
<td style="text-align:right;">210,146
</td>
<td style="text-align:right;">1,045,286
</td>
<td style="text-align:right;">18.1
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:blue;">2.24
</td></tr>
<tr>
<td>2007
</td>
<td style="text-align:right;">70,586,256
</td>
<td style="text-align:right;">1,289,992
</td>
<td style="text-align:right;">212,731
</td>
<td style="text-align:right;">1,077,261
</td>
<td style="text-align:right;">18.3
</td>
<td style="color:blue">3.0
</td>
<td style="color:blue">15.3
</td>
<td style="text-align:right; color:blue;">2.21
</td></tr>
<tr>
<td>2008
</td>
<td style="text-align:right;">71,517,100
</td>
<td style="text-align:right;">1,295,511
</td>
<td style="text-align:right;">215,562
</td>
<td style="text-align:right;">1,079,949
</td>
<td style="text-align:right;">18.1
</td>
<td style="text-align:right;">3.0
</td>
<td style="text-align:right;">15.1
</td>
<td style="text-align:right; color:blue;">2.19
</td></tr>
<tr>
<td>2009
</td>
<td style="text-align:right;">72,561,312
</td>
<td style="text-align:right;">1,266,751
</td>
<td style="text-align:right;">369,703
</td>
<td style="text-align:right;">897,048
</td>
<td style="text-align:right;">17.6
</td>
<td style="text-align:right;">5.1
</td>
<td style="text-align:right;">12.5
</td>
<td style="text-align:right; color:blue;">2.10
</td></tr>
<tr>
<td>2010
</td>
<td style="text-align:right;">73,722,988
</td>
<td style="text-align:right;">1,261,169
</td>
<td style="text-align:right;">366,471
</td>
<td style="text-align:right;">894,698
</td>
<td style="text-align:right;">17.2
</td>
<td style="text-align:right;">5.0
</td>
<td style="text-align:right;">12.2
</td>
<td style="text-align:right;">2.08
</td></tr>
<tr>
<td>2011
</td>
<td style="text-align:right;">74,724,269
</td>
<td style="text-align:right;">1,252,812
</td>
<td style="text-align:right;">376,162
</td>
<td style="text-align:right;">876,650
</td>
<td style="text-align:right;">16.9
</td>
<td style="text-align:right;">5.1
</td>
<td style="text-align:right;">11.8
</td>
<td style="text-align:right;">2.05
</td></tr>
<tr>
<td>2012
</td>
<td style="text-align:right;">75,627,384
</td>
<td style="text-align:right;">1,294,605
</td>
<td style="text-align:right;">376,520
</td>
<td style="text-align:right;">918,085
</td>
<td style="text-align:right;">17.2
</td>
<td style="text-align:right;">5.0
</td>
<td style="text-align:right;">12.2
</td>
<td style="text-align:right; color:blue;">2.11
</td></tr>
<tr>
<td>2013
</td>
<td style="text-align:right;">76,667,864
</td>
<td style="text-align:right;">1,297,505
</td>
<td style="text-align:right;">373,041
</td>
<td style="text-align:right;">924,464
</td>
<td style="text-align:right;">17.0
</td>
<td style="text-align:right;">4.9
</td>
<td style="text-align:right;">12.1
</td>
<td style="text-align:right; color:blue;">2.11
</td></tr>
<tr>
<td>2014
</td>
<td style="text-align:right;">77,695,904
</td>
<td style="text-align:right;">1,351,088
</td>
<td style="text-align:right;">391,091
</td>
<td style="text-align:right;">959,997
</td>
<td style="text-align:right;">17.5
</td>
<td style="text-align:right;">5.1
</td>
<td style="text-align:right;">12.4
</td>
<td style="text-align:right; color:blue;">2.19
</td></tr>
<tr>
<td>2015
</td>
<td style="text-align:right;">78,741,053
</td>
<td style="text-align:right;">1,336,908
</td>
<td style="text-align:right;">405,528
</td>
<td style="text-align:right;">931,380
</td>
<td style="text-align:right;">17.1
</td>
<td style="text-align:right;">5.2
</td>
<td style="text-align:right;">11.9
</td>
<td style="text-align:right; color:blue;">2.16
</td></tr>
<tr>
<td>2016
</td>
<td style="text-align:right;">79,814,871
</td>
<td style="text-align:right;">1,316,204
</td>
<td style="text-align:right;">422,964
</td>
<td style="text-align:right;">893,240
</td>
<td style="text-align:right;">16.6
</td>
<td style="text-align:right;">5.3
</td>
<td style="text-align:right;">11.3
</td>
<td style="text-align:right; color:blue;">2.11
</td></tr>
<tr>
<td>2017
</td>
<td style="text-align:right;">80,810,525
</td>
<td style="text-align:right;">1,300,258
</td>
<td style="text-align:right;">426,662
</td>
<td style="text-align:right;">873,596
</td>
<td style="text-align:right;">16.2
</td>
<td style="text-align:right;">5.3
</td>
<td style="text-align:right;">10.9
</td>
<td style="text-align:right;">2.08
</td></tr>
<tr>
<td>2018
</td>
<td style="text-align:right;">82,003,882
</td>
<td style="text-align:right;">1,256,282
</td>
<td style="text-align:right;">426,785
</td>
<td style="text-align:right;">829,497
</td>
<td style="text-align:right;">15.4
</td>
<td style="text-align:right;">5.2
</td>
<td style="text-align:right;">10.2
</td>
<td style="text-align:right;">2.00
</td></tr>
<tr>
<td>2019
</td>
<td style="text-align:right;">83,154,997
</td>
<td style="text-align:right;">1,189,939
</td>
<td style="text-align:right;">436,624
</td>
<td style="text-align:right;">753,315
</td>
<td style="text-align:right;">14.4
</td>
<td style="text-align:right;">5.3
</td>
<td style="text-align:right;">9.1
</td>
<td style="text-align:right; color;">1.89
</td></tr>
<tr>
<td>2020
</td>
<td style="text-align:right;">83,614,362
</td>
<td style="text-align:right;">1,117,942
</td>
<td style="text-align:right;">509,048
</td>
<td style="text-align:right;">608,894
</td>
<td style="text-align:right;">13.4
</td>
<td style="text-align:right;">6.1
</td>
<td style="text-align:right;">7.3
</td>
<td style="text-align:right;">1.77
</td></tr>
<tr>
<td>2021
</td>
<td style="text-align:right;">84,680,273
</td>
<td style="text-align:right;">1,083,336
</td>
<td style="color:red">566,485
</td>
<td style="text-align:right; color:red;">516,851
</td>
<td style="text-align:right;">12.9
</td>
<td style="color:red">6.7
</td>
<td style="text-align:right; color:red;">6.2
</td>
<td style="text-align:right;">1.71
</td></tr>
<tr>
<td>2022
</td>
<td style="text-align:right;">85,279,553
</td>
<td style="text-align:right;">1,035,795
</td>
<td style="text-align:right;">504,839
</td>
<td style="text-align:right;">530,956
</td>
<td style="text-align:right;">12.2
</td>
<td style="text-align:right;">5.9
</td>
<td style="text-align:right;">6.3
</td>
<td style="text-align:right;">1.62
</td></tr>
<tr>
<td>2023
</td>
<td style="text-align:right;">85,372,377
</td>
<td style="text-align:right; color:red;">934,215 (e)
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:red;">10.9 (e)
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right;">
</td>
<td style="text-align:right; color:red;">1.51 (e)
</td></tr>
</tbody></table>

In [4]:
table = soup.find('table', class_ = 'wikitable sortable')

In [5]:
table.find_all('th')

[<th>
 </th>,
 <th style="width:80pt;">Population (31.12.)
 </th>,
 <th style="width:80pt;">Live births
 </th>,
 <th style="width:80pt;">Deaths
 </th>,
 <th style="width:80pt;">Natural change
 </th>,
 <th style="width:80pt;">Crude birth rate (per 1000)
 </th>,
 <th style="width:80pt;">Crude death (per 1000)
 </th>,
 <th style="width:80pt;">Natural increase (per 1000)
 </th>,
 <th style="width:80pt;">Total fertility rate (TFR)
 </th>]

In [6]:
table_titles = table.find_all('th')
word_table_titles = [title.text.strip() for title in table_titles]

In [7]:
print(word_table_titles)

['', 'Population (31.12.)', 'Live births', 'Deaths', 'Natural change', 'Crude birth rate (per 1000)', 'Crude death (per 1000)', 'Natural increase (per 1000)', 'Total fertility rate (TFR)']

In [8]:
word_table_titles = ['Year', 'Population (31.12.)', 'Live births', 'Deaths', 'Natural change', 'Crude birth rate (per 1000)', 'Crude death (per 1000)', 'Natural increase (per 1000)', 'Total fertility rate (TFR)']

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(columns=word_table_titles)

In [11]:
df

Empty DataFrame
Columns: [Year, Population (31.12.), Live births, Deaths, Natural change, Crude birth rate (per 1000), Crude death (per 1000), Natural increase (per 1000), Total fertility rate (TFR)]
Index: []

In [12]:
column_data = table.find_all('tr')

In [13]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    lenght = len(df)
    df.loc[lenght] = individual_row_data

In [14]:
df

,Year,Population (31.12.),Live births,Deaths,Natural change,Crude birth rate (per 1000),Crude death (per 1000),Natural increase (per 1000),Total fertility rate (TFR)
0,1990,,"1,392,000","388,000","1,004,000",,,,3.11
1,1991,,"1,390,000","391,000","999,000",,,,3.02
2,1992,,"1,388,000","394,000","994,000",,,,2.94
3,1993,,"1,385,000","396,000","989,000",,,,2.87
4,1994,,"1,372,000","399,000","973,000",,,,2.81
5,1995,,"1,368,000","402,000","966,000",,,,2.76
6,1996,,"1,386,000","419,000","967,000",,,,2.70
7,1997,,"1,317,000","424,000","893,000",,,,2.66
8,1998,,"1,318,000","426,000","892,000",,,,2.61
9,1999,,"1,313,000","427,000","886,000",,,,2.56
10,2000,,"1,307,000","422,000","885,000",,,,2.50
11,2001,,"1,323,341","175,137","1,148,204",20.3,,,2.38
12,2002,,"1,229,555","175,434","1,054,121",18.6,,,2.40
13,2003,,"1,198,927","184,330","1,014,597",17.9,,,2.35
14,2004,,"1,222,484","187,086","1,035,398",18.1,,,2.31
15,2005,,"1,244,041","197,520","1,046,521",18.2,,,2.27
16,2006,,"1,255,432","210,146","1,045,286",18.1,,,2.24
17,2007,"70,586,256","1,289,992","212,731","1,077,261",18.3,3.0,15.3,2.21
18,2008,"71,517,100","1,295,511","215,562","1,079,949",18.1,3.0,15.1,2.19
19,2009,"72,561,312","1,266,751","369,703","897,048",17.6,5.1,12.5,2.10
20,2010,"73,722,988","1,261,169","366,471","894,698",17.2,5.0,12.2,2.08
21,2011,"74,724,269","1,252,812","376,162","876,650",16.9,5.1,11.8,2.05
22,2012,"75,627,384","1,294,605","376,520","918,085",17.2,5.0,12.2,2.11
23,2013,"76,667,864","1,297,505","373,041","924,464",17.0,4.9,12.1,2.11
24,2014,"77,695,904","1,351,088","391,091","959,997",17.5,5.1,12.4,2.19
25,2015,"78,741,053","1,336,908","405,528","931,380",17.1,5.2,11.9,2.16
26,2016,"79,814,871","1,316,204","422,964","893,240",16.6,5.3,11.3,2.11
27,2017,"80,810,525","1,300,258","426,662","873,596",16.2,5.3,10.9,2.08
28,2018,"82,003,882","1,256,282","426,785","829,497",15.4,5.2,10.2,2.00
29,2019,"83,154,997","1,189,939","436,624","753,315",14.4,5.3,9.1,1.89
30,2020,"83,614,362","1,117,942","509,048","608,894",13.4,6.1,7.3,1.77
31,2021,"84,680,273","1,083,336","566,485","516,851",12.9,6.7,6.2,1.71
32,2022,"85,279,553","1,035,795","504,839","530,956",12.2,5.9,6.3,1.62
33,2023,"85,372,377","934,215 (e)",,,10.9 (e),,,1.51 (e)

In [15]:
df.to_csv(r'C:\Users\Raupeling\Desktop\csvFromPyhton\Demographics_of_Turkey.csv', index = False)